dist-newstyle
flolac-site.cabal.local
.stack-work
.vscode

node_modules
assets/css/custom.css
assets/css/custom.css.map
assets/css/style.css
assets/css/style.css.map


.DS_Store
_cache
_site
coq-installer-8.4-win-0.exe
coqide-8.4rc1.dmg
