dist-newstyle
flolac-site.cabal.local
.stack-work
.vscode
.sass-cache
package-lock.json
stack.yaml.lock
hie.yaml

node_modules
assets/css/*


.DS_Store
_cache
_site
coq-installer-8.4-win-0.exe
coqide-8.4rc1.dmg
