$fountain-blue   : #61C1BE; // the main theme colour for PL year
$buttercup       : #FABE00; // the main theme colour for FM year
$sundance        : #CB9F5F; // Light accent colour for FM and PL
$aqua-haze       : #EFF6F6; // Light shades for FM
$brown-rust      : #A5653C; // Dark accent for FM
$thunder         : #30282E; // Dark shades for FM
$snow-drift      : #F3F6F2; // Light shades for PL
$au-chico        : #A36459; // Dark accent for PL
$pickled-bluewood: #354B5B; // Dark shades for PL
$fern            : #53b472;
$old-gold        : #d0a43a;
$pomegranate     : #f44336;

$colors: ("fountain-blue": $fountain-blue,
  "buttercup" : $buttercup,
  "sundance" : $sundance,
  "aqua-haze" : $aqua-haze,
  "brown-rust" : $brown-rust,
  "thunder" : $thunder,
  "snow-drift" : $snow-drift,
  "au-chico" : $au-chico,
  "pickled-bluewood": $pickled-bluewood);

$enable-shadows: true;

$theme-colors: (
  "primary": $fountain-blue,
  "secondary" : $pickled-bluewood,
  "success": $fern,
  "warning": $old-gold,
  "danger" : $pomegranate,
  "dark-shade": $pickled-bluewood,
  "dark-accent": $au-chico,
  "light-shade": $snow-drift,
  "light-accent": $sundance,
);

$body-bg: $snow-drift;
$body-color: $pickled-bluewood;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

blockquote.dialog {
  background   : white;
  border-radius: 10px;
  padding      : 1em 1.25em;

  >p {
    color     : $gray-700;
    text-align: justify;
  }

  >p:first-of-type::before {
    font-family   : "Font Awesome 5 Free";
    font-weight   : 900;
    font-size     : 0.75em;
    vertical-align: super;
    padding-right : 1em;
    content       : "\f10d";
  }

  >footer {
    text-align: right;
  }

  >footer::before {
    content: "— ";
  }
}

dl.dl-vbar {
  display              : grid;
  grid-template-columns: max-content auto;
  margin-bottom: 0px;
  >dt {
    grid-column-start: 1;
    padding-right    : .5em;
  }
  >dd {
    grid-column-start: 2;
    border-left      : 0.15em solid $light; // $light should inhert the text colour.
    padding-left     : .5em;
  }
  >dd:last-child {
    margin-bottom: 0px;
  }
}

dl.inline-block-lists {
  >div {
    display: inline-block;
    margin-right: 3em;
    >dt {
      display: inline-block;
      padding-right: .5em;
    }
    >dd {
      display: inline-block;
    }
  }
  div:last-child {  
    >dd {
      margin-bottom: 0px;
    }
  }
}

.list-inline-block {
  padding-left: 0;
  list-style:none;
  li {
    display: inline-block;
  }
  li:not(:last-child) {
    margin-right: .5em;
  }
}

.affiliation {
  font-size: 0.8em;
}

.vbar-inbetween >*:not(last-child) {
  border-right: 0.15em solid white;
}

.text-outline {
  text-shadow: 0px 0px 1px black;
}

@mixin container-n-rows ($rows) {
  display: grid;
  grid-template-rows: repeat($rows, auto);
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: .5em;
}

.container-4-rows {
  @include container-n-rows(4);
}
.light-border-bottom {
  border-bottom: 0.2em solid $light;
  padding-bottom: 1em;
}

.dark-border-bottom {
  border-bottom: 0.2em solid $dark;
  padding-bottom: 1em;
}

.yearly-banner {
  min-height       : 30vh;
  background-image : url('/img/yearly_banner.png');
  background-size  : cover;
  background-repeat: no-repeat;
}

.bg-gd {
  background: linear-gradient(to bottom, #98d2d7 31%, #77bac0 48%, #4b8b97 72%, #3e7987 84%, #286a7c 100%);
}

.bg-gd2 {
  background: linear-gradient(to bottom, #97d2d7 28%, #8dccd3 39%, #539ca5 70%, #337988 89%, #2a7382 94%, #286c7f 100%);
}

.heading-underline {
  padding-bottom: .2em;
  border-bottom : 3px solid;
}

.news-box {}

.news-group {
  padding-left: 0;
  max-height  : 30vh;
  list-style  : none;
}

.border-right-thick {
  border-right: 0.15em solid white;
}

@media only screen and (max-width: 992px) {
  .border-right-thick {
    border: none;
  }
}
