$breakpoint: 992px; // used by Bootstrap

$width        : 1000px;
$margin       : 3rem;
$padding      : 1rem;
$border-radius: 0.5rem;

$nav-height: 5rem;

// main colors
$ocean-light   : hsl(178, 44, 50);
$ocean-dark    : $fountain-blue;
$mountain-light: hsl(46, 100, 43);
$mountain-dark : $buttercup;

// colors for background/foreground
$background-dark     : #222;
$background-dark-aux : #111;

$foreground-dark       :#CCC;
$foreground-dark-aux   :gray;
$foreground-dark-header:white;

// colors for background/foreground
$background-light     : #EEE;
$background-light-aux : white;

$foreground-light       :#222;
$foreground-light-aux   :gray;
$foreground-light-header:black;


nav {
    height: $nav-height;
}

body {
    // background: url('/img/background/creampaper.png') repeat;
}

// colors & accents
.dark {
    background: $background-dark;
    color     : $foreground-dark;

    h2,
    h3 {
        color: $foreground-dark-header;
    }

    .ocean {
        color: $ocean-dark;
    }

    .mountain {
        color: $mountain-dark;
    }

    &:nth-of-type(2n+1) {
        background: $background-dark-aux;
    }
}

.light {
    background: $background-light;
    color     : $foreground-light;

    h2,
    h3 {
        color: $foreground-light-header;
    }

    .ocean {
        color: $ocean-light;
    }

    .mountain {
        color: $mountain-light;
    }

    &:nth-of-type(2n) {
        background: $background-light-aux;
    }
}

body>div>section {
    max-width: $width;
    margin   : 0 auto;
    padding  : $margin $padding;
}

h2 {
    margin           : $margin/2 0 $margin 0;
    // padding-bottom: 1rem;
    // border-bottom : 0.3rem solid;
}

h3 {
    margin-bottom: $margin;
}

#landing {

    // dimension 
    padding: 0;
    height : calc(100vh - #{$nav-height});

    // background 
    background-image   : url('/img/background/main.png');
    background-size    : cover;
    background-position: top;
    background-repeat  : no-repeat;

    // layout 
    display        : flex;
    justify-content: center;
    align-items    : center;

    // text color & alignment
    color      : $foreground-dark-header;
    text-shadow: 0px 0px 5px black;
    text-align : center;

    h1 {
        font-size: 400%;
    }

    span {
        font-size: 150%;
    }
}

#previous-guest-lectures {
    ol {
        list-style  : none;
        padding     : 0;
        margin      : 0;
        column-count: 2;
        column-gap  : 2rem;

        li {
            line-height: 2rem;
            padding    : 1rem;

            display: flex;

            .guest-lecture-year {
                display      : inline-block;
                padding-right: $padding;
                color        : $foreground-dark-aux;
                font-weight  : bold;
            }
        }
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        ol {
            column-count: 1;
        }
    }
}

#ocean-mountain-intro-container {
    display              : grid;
    grid-template-columns: auto $width/2 $width/2 auto;

    h2 {
        text-align: center;
    }

    #ocean-intro {
        grid-column  : 2 / 3;
        width        : auto;
        padding      : $margin;
        margin       : 0;
        border-top   : $ocean-dark 1rem solid;
        border-bottom: $ocean-dark 1rem solid;

    }

    #mountain-intro {
        grid-column: 3 / 4;
        width      : auto;
        padding    : $margin;
        margin     : 0;

        border-top   : $mountain-dark 1rem solid;
        border-bottom: $mountain-dark 1rem solid;
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        display: block;

        h2 {
            text-align: left;
        }

        #ocean-intro,
        #mountain-intro {
            padding      : $margin $padding;
            border-bottom: none;
        }
    }
}

#course {
    padding-top: $nav-height;

    #header-container {
        height             : 200px;
        // background 
        background-image   : url('/img/background/main.png');
        background-size    : cover;
        background-position: center 20%;
        background-repeat  : no-repeat;


    }
}

// #timeline {
//     $timeline-color       : gray;
//     $important-event-color: $fountain-blue;
//     $timeline-width       : 0.5rem;
//     $diameter             : 2rem;

//     ol {
//         list-style: none;
//         padding   : 0;
//         margin    : 0;
//     }

//     li {
//         display    : flex;
//         line-height: $diameter;

//         &:first-of-type .timeline-event-date-container {
//             border-right-color: $important-event-color;

//             &:after {
//                 border-color       : $important-event-color;
//                 // background-color: $important-event-color;
//                 // background-image: none;
//             }
//         }

//         .timeline-event-date-container {
//             // layout
//             display        : flex;
//             justify-content: flex-end;

//             // dimensions
//             min-width: 10rem;
//             padding  : $padding*2 $padding $padding 0;

//             // border
//             border-right: $timeline-color $timeline-width solid;

//             // text
//             text-align: right;
//             color     : gray;
//             font-size : 150%;

//             &:after {
//                 content      : "\A";
//                 position     : relative;
//                 left         : calc(#{$padding} + #{$diameter / 2} + #{$timeline-width / 2});
//                 display      : inline-block;
//                 width        : $diameter;
//                 height       : $diameter;
//                 border       : 0.4rem solid $timeline-color;
//                 border-radius: 50%;
//                 background   : url('/img/background/creampaper_@2X.png') repeat;
//             }
//         }

//         .timeline-event-content-container {
//             padding: $padding $padding $padding $padding*2;

//             display: flex;

//             .timeline-event-content {
//                 background-color   : white;
//                 // margin-top      : $padding;
//                 padding            : $padding;

//                 box-shadow   : 0px 0px 4px lightgray;
//                 border-radius: $border-radius;

//                 h4 {
//                     color      : #212529;
//                     font-weight: 400;
//                     font-size  : 1.2rem;
//                     margin     : 0;
//                     line-height: $diameter;
//                 }

//             }

//             &:before {
//                 content     : "\A";
//                 width       : 0;
//                 height      : 0;
//                 border-style: solid;
//                 border-width: $diameter/2 $diameter/2 $diameter/2 0;
//                 border-color: transparent white transparent transparent;
//                 border-style: solid;
//                 position    : relative;
//                 top         : $padding;
//             }


//         }

//     }
// }

// }

// for desktop 
@media (min-width: $breakpoint) {

    // grid system 2 column
    .container {
        grid-template-columns: auto auto;
    }

    // span across 2 columns
    // #timeline {
    //   grid-column: 1 / -1;
    // }

    #special-lecture-container {
        grid-column: 1 / -1;
    }
}

// for mobile 
@media (max-width: $breakpoint) {

    // grid system only 1 column
    .container {
        grid-template-columns: auto;
    }
}