$breakpoint: 992px; // used by Bootstrap

$width        : $breakpoint;
$margin       : 3rem;
$padding      : 1rem;
$border-radius: 0.5rem;

$nav-height: 5rem;

// main colors
$ocean-light   : hsl(178, 44, 50);
$ocean-dark    : #61C1BE;
$mountain-light: hsl(46, 100, 43);
$mountain-dark : #FABE00;

// colors for background/foreground
$background-dark      : #222;
$background-dark-alt  : #111;
$background-dark-alt2 : #000;

$foreground-dark     :#CCC;
$foreground-dark-alt :gray;
$foreground-dark-emph:white;

// colors for background/foreground
$background-light      : #F0F0F0;
$background-light-alt  : #F8F8F8;
$background-light-alt2 :#E8E8E8;

$foreground-light      :#222;
$foreground-light-alt  :gray;
$foreground-light-alt2 :lightgray;
$foreground-light-emph :black;


nav {
    height: $nav-height;
}

// colors & accents
.dark {
    background: $background-dark;
    color     : $foreground-dark;

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $foreground-dark-emph;
    }

    .ocean,
    &.ocean {
        h2 {
            color: $ocean-dark;
        }
    }

    .mountain,
    &.mountain {
        h2 {
            color: $mountain-dark;
        }
    }

    &.alt {
        background: $background-dark-alt;
    }

    &.alt2 {
        background: $background-dark-alt2;
    }
}

.light {
    background: $background-light;
    color     : $foreground-light;

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $foreground-light-emph;
    }

    .ocean,
    &.ocean {
        h2 {
            color: $ocean-light;
        }
    }

    .mountain,
    &.mountain {
        h2 {
            color: $mountain-light;
        }
    }

    &.alt {
        background: $background-light-alt;
    }

    &.alt2 {
        background: $background-light-alt2;
    }
}

body>div>section {
    max-width: $width;
    margin   : 0 auto;
    padding  : $margin $padding;
}

h2 {
    margin: $margin/2 0 $margin 0;
}

h3 {
    margin   : $margin 0;
    font-size: 150%;
}

h4 {
    margin: $margin 0 $margin/2;
}

.two-column {
    display              : grid;
    grid-template-columns: 1fr $width/2 $width/2 1fr;

    > :first-child {
        grid-column: 2 / 3;
        width      : calc(#{$width}/2);
        padding    : $margin $margin $margin $padding;
    }

    > :last-child {
        grid-column: 3 / 4;
        width      : calc(#{$width}/2);
        padding    : $margin $padding $margin $margin;
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        display: block;

        > :first-child,
        > :last-child {
            padding: $margin $padding;
            width  : auto;
        }

    }
}

#landing {

    // dimension 
    padding: 0;
    height : calc(100vh - #{$nav-height});

    // background 
    background-image: url("https://user-images.githubusercontent.com/4060046/86566850-f38b0880-bf9c-11ea-9c77-c802927d3dbc.jpg");

    background-size    : cover;
    background-position: top;
    background-repeat  : no-repeat;

    // layout 
    display        : flex;
    justify-content: center;
    align-items    : center;

    // text color & alignment
    color      : $foreground-dark-emph;
    text-shadow: 0px 0px 5px black;
    text-align : center;

    h1 {
        font-size: 400%;
    }

    span {
        font-size: 150%;
    }
}

#previous-guest-lectures {
    ol {
        list-style  : none;
        padding     : 0;
        margin      : 0;
        column-count: 2;
        column-gap  : 2rem;

        li {
            line-height: 2rem;
            padding    : 1rem;

            display: flex;

            .guest-lecture-year {
                display      : inline-block;
                padding-right: $padding;
                color        : $foreground-dark-alt;
                font-weight  : bold;
            }
        }
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        ol {
            column-count: 1;
        }
    }
}

#ocean-mountain-intro {

    h2 {
        text-align: center;
    }

    #ocean-intro {
        border-top: $ocean-dark 1rem solid;
    }

    #mountain-intro {
        border-top: $mountain-dark 1rem solid;
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        h2 {
            text-align: left;
        }
    }
}

#header {
    // dimentions
    height          : 200px;
    padding         : $padding;
    // background 
    background-image: url("https://user-images.githubusercontent.com/4060046/86566850-f38b0880-bf9c-11ea-9c77-c802927d3dbc.jpg");

    background-size    : cover;
    background-position: center 20%;
    background-repeat  : no-repeat;
    // layout 
    display            : flex;
    justify-content    : center;
    align-items        : center;

    // text color & alignment
    color      : $foreground-dark-emph;
    text-shadow: 0px 0px 5px black;
    text-align : center;

    h1 {
        font-size: 200%;
    }
}

#course {

    $timeline-column-width: 350px;
    $left-column-width    : calc(#{$width} - #{$timeline-column-width});

    display              : grid;
    grid-template-columns: 1fr $left-column-width $timeline-column-width 1fr;
    grid-template-rows   : auto;

    #course-timeline {
        grid-column: 3 / 5;
        grid-row   : 1 / 2;
    }

    #course-left-column {
        grid-column: 1 / 3;
        grid-row   : 1 / 2;

        background: $background-dark;
    }

    #course-intro,
    #course-special-lecture,
    #course-lecturer {
        $content-width: calc(#{$left-column-width});

        display              : grid;
        grid-template-columns: auto $content-width;

        >section {
            grid-column: 2 / 3;
            margin     : 0;
            padding    : $margin $margin $margin $padding;
        }

    }

    #course-lecturer {

        td {
            width: 30%;
        }

        th {
            width         : 35%;
            vertical-align: baseline;
        }

        .affiliation {
            color: $foreground-dark-alt;
        }

        tr.border-at-top>* {
            // $foreground-dark-alt;
            border-top : $padding solid transparent;
            margin-top : $padding;
            padding-top: $padding;
        }
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        display: block;

        #course-timeline {
            padding: $margin $padding;

            // remove the fancy timeline stuff
            li {
                padding: $padding 0;
            }

            .timeline-event-date-container {
                width: 30%;

                border : none;
                margin : 0;
                padding: 0 $padding;

                display: block;

                .timeline-event-date {
                    text-align: left;
                }

                &:after {
                    display: none
                }
            }

            .timeline-event-content-container {
                width  : 70%;
                margin : 0;
                padding: 0 $padding;

                .timeline-event-content {
                    color     : $foreground-light;
                    background: none;
                    margin    : 0;
                    padding   : 0;
                }

                &:before {
                    display: none
                }
            }
        }

        #course-intro,
        #course-special-lecture,
        #course-lecturer {
            display: block;

            >section {
                padding: $margin $padding;
            }
        }
    }
}

#course-lecturer dl {
    $dt-width: 10rem;

    display              : grid;
    grid-template-columns: $dt-width auto;

    dt {
        grid-column: 1 / 2;
    }

    dd {
        grid-column: 2 / 3;
    }
}

#course-timeline {
    &.dark {
        // foreground
        $timeline-color       : $foreground-dark-alt;
        $important-event-color: $foreground-dark-emph;
        // background
        $background           : $background-dark-alt2;
        $background2          : $background-dark;
        background            : $background;

        li {
            &:first-of-type {
                .timeline-event-date-container {
                    border-right-color: $important-event-color;
                    color             : $important-event-color;

                    &:after {
                        border-color: $important-event-color;
                    }
                }
            }

            .timeline-event-date-container {
                // border
                border-right-color: $timeline-color;

                &:after {
                    border-color: $timeline-color;
                    background  : $background;
                }
            }

            .timeline-event-content-container {
                .timeline-event-content {
                    background-color: $background2;
                }

                &:before {
                    border-color: transparent $background2 transparent transparent;
                }
            }
        }
    }

    &.light {
        // foreground
        $timeline-color       : $foreground-light-alt2;
        $important-event-color: $ocean-light;
        // background
        $background           : $background-light-alt2;
        $background2          : white;
        background            : $background;

        li {
            &:first-of-type {
                .timeline-event-date-container {
                    border-right-color: $important-event-color;
                    color             : $important-event-color;

                    &:after {
                        border-color: $important-event-color;
                    }
                }

                .timeline-event-content-container {
                    .timeline-event-content {
                        background-color: $important-event-color;
                        color           : $background2;
                    }

                    &:before {
                        border-color: transparent $important-event-color transparent transparent;
                    }
                }
            }

            .timeline-event-date-container {
                // border
                border-right-color: $timeline-color;

                &:after {
                    border-color: $timeline-color;
                    background  : $background;
                }
            }

            .timeline-event-content-container {
                .timeline-event-content {
                    background: $background2;
                }

                &:before {
                    border-color: transparent $background2 transparent transparent;
                }
            }
        }
    }

    $timeline-width : 0.5rem;
    $diameter       : 2rem;


    padding : $margin $margin;


    ol {
        list-style: none;
        padding   : 0;
        margin    : 0;
    }

    li {
        display    : flex;
        line-height: $diameter;

        .timeline-event-date-container {
            // layout
            display        : flex;
            justify-content: flex-end;

            // dimensions
            min-width: 7rem;
            padding  : $padding*2 $padding $padding 0;

            // border
            border-right-width: $timeline-width;
            border-right-style: solid;

            // text
            text-align : right;
            font-weight: bold;

            &:after {
                content      : "\A";
                position     : relative;
                left         : calc(#{$padding} + #{$diameter / 2} + #{$timeline-width / 2});
                display      : inline-block;
                width        : $diameter;
                height       : $diameter;
                border-width : 0.4rem;
                border-style : solid;
                border-radius: 50%;
            }
        }

        .timeline-event-content-container {
            padding: $padding $padding $padding $padding*2;

            display: flex;

            .timeline-event-content {
                padding: $padding;

                border-radius: $border-radius;

                h4 {
                    margin     : 0;
                    line-height: $diameter;
                }

            }

            &:before {
                content     : "\A";
                width       : 0;
                height      : 0;
                border-style: solid;
                border-width: $diameter/2 $diameter/2 $diameter/2 0;
                border-style: solid;
                position    : relative;
                top         : $padding;
            }


        }

    }
}

#timetable {
    table {
        width        : 100%;
        margin-bottom: $margin;
    }

    thead {
        border-bottom: 1px solid $foreground-dark-alt;
    }

    tbody {
        th {
            width       : 10%;
            border-right: 1px solid $foreground-dark-alt;
        }

        td {
            width: 18%;
        }
    }

    .plt {
        color: #16a085;
    }

    .fp {
        color: #48a6e6;
    }

    .lgc {
        color: #ff8c80;
    }

    .dtp {
        color: #eeac41;
    }

    th {
        color     : $foreground-dark-alt;
        text-align: center;

        height: 4rem;
        margin: $padding;
    }

    td {
        text-align: center;

        height: 8rem;
        margin: $padding;

        font-size: 120%;

        abbr {
            text-decoration: none !important;
        }
    }
}

.dark {
    #registration-attendee-type-tab>li.selected {
        background      : $background-dark-alt;
        border-top-color: $ocean-dark;
    }

    #registration-attendee-type-page {
        background: $background-dark-alt;
    }
}

.light {
    #registration-attendee-type-tab>li.selected {
        background      : $background-light-alt;
        border-top-color: $ocean-light;
    }

    #registration-attendee-type-page {
        background: $background-light-alt;
    }
}

#registration-attendee-type-tab {
    $tab-height  : 3rem;
    $border-width: 0.4rem;

    list-style: none;
    margin    : $margin 0 0 0;
    padding   : 0;

    display: flex;


    >li {
        width: 25%;

        // make <a> a block that fills the whole <li>
        a {
            display    : block;
            padding    : $padding;
            text-align : center;
            font-weight: bold;
            min-height : $tab-height;

            &:hover {
                text-decoration: none;
            }

        }

        // make the tab text smaller on mobile 
        @media (max-width: $breakpoint) {
            a {
                font-size: 50%;
            }
        }

        border-top: solid $border-width transparent;

    }
}

#registration-attendee-type-page {
    list-style: none;
    margin    : 0;
    padding   : 0;

    >li {
        display: none;
        padding: $margin;

        &.selected {
            display      : block;
            // border-top: solid 0.4rem $ocean-dark;
        }
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        >li {
            padding: $margin $padding;
        }
    }
}