$breakpoint : 992px; // used by Bootstrap
$breakpoint2: 576px;

$width        : $breakpoint;
$margin       : 3rem;
$padding      : 1rem;
$border-radius: 0.5rem;

$nav-height: 5rem;

// main colors
$ocean-light   : hsl(178, 44, 50);
$ocean-dark    : #61C1BE;
$mountain-light: hsl(46, 100, 43);
$mountain-dark : #FABE00;

// colors for background/foreground
$background-dark      : #222;
$background-dark-alt  : #111;
$background-dark-alt2 : #000;

$foreground-dark     :#CCC;
$foreground-dark-alt :gray;
$foreground-dark-emph:white;

// colors for background/foreground
$background-light      : #F0F0F0;
$background-light-alt  : #F8F8F8;
$background-light-alt2 :#E8E8E8;

$foreground-light      :#222;
$foreground-light-alt  :gray;
$foreground-light-alt2 :lightgray;
$foreground-light-emph :black;


nav {
    height: $nav-height;
}


@media (prefers-color-scheme: dark) {
    
    body > div {
        background: $background-dark;
        color     : $foreground-dark;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $foreground-dark-emph;
    }

    blockquote {
        background       : $background-dark;
        box-shadow: 0.5rem 0.5rem 0 $background-dark-alt2;

        footer {
            color: $foreground-dark-alt;
        }
    }

    .ocean,
    body > div.ocean {
        h2 {
            color: $ocean-dark;
        }
	   .lecture > h3 {
               color: $ocean-dark;
           }
        #registration-attendee-type-tab>li.selected {
            border-top-color: $ocean-dark;
        }	   
    }

    .mountain,
    body > div.mountain {
        h2 {
            color: $mountain-dark;
        }
	   .lecture > h3 {
               color: $mountain-dark;
        }
        #registration-attendee-type-tab>li.selected {
            border-top-color: $mountain-dark;
        }	   
    }

    body div.alt {
        background: $background-dark-alt;
    }

    body div.alt2 {
        background: $background-dark-alt2;
    }

    #registration-attendee-type-tab>li.selected {
        background      : $background-dark-alt;
    }


    #ocean-mountain-intro {
        #ocean-intro {
            border-top-color: $ocean-dark;
        }
    
        #mountain-intro {
            border-top-color: $mountain-dark;
        }
    }

    #registration-attendee-type-page {
        background: $background-dark-alt;
    }

    .lecture {
        box-shadow: 0.5rem 0.5rem 0 $background-dark-alt2;
        background       : $background-dark-alt;
    }


    #course-timeline {
        // foreground
        $timeline-color       : $foreground-dark;
        
        // background
        $background           : $background-dark-alt;
        $background2          : $background-dark;
        // background            : $background;

        li {

            &.timeline-event-past {
                $past-event-color: $background-dark;
                color             : #444;

                .timeline-event-date-container {
                    border-right-color: $past-event-color;

                    &:after {
                        border-color: $past-event-color;
                    }
                }

                .timeline-event-content-container {
                    .timeline-event-content {
                        background-color: $past-event-color;
                    }

                    &:before {
                        border-color: transparent $past-event-color transparent transparent;
                    }
                }
            }
            &.timeline-event-next {
                $next-event-color: $ocean-dark;
                .timeline-event-date-container {
                    border-right-color: $next-event-color;
                    color             : $next-event-color;

                    &:after {
                        border-color: $next-event-color;
                    }
                }

                .timeline-event-content-container {
                    .timeline-event-content {
                        background-color: $next-event-color;
                        color           : $background2;
                    }

                    &:before {
                        border-color: transparent $next-event-color transparent transparent;
                    }
                }
            }


            .timeline-event-date-container {
                // border
                border-right-color: $timeline-color;

                &:after {
                    border-color: $timeline-color;
                    background  : $background;
                }
            }

            .timeline-event-content-container {
                .timeline-event-content {
                    background-color: $background2;
                }

                &:before {
                    border-color: transparent $background2 transparent transparent;
                }
            }
        }
    }


    #course > #course-left-column {
        background: $background-dark;
    }


    #course > #course-lectures .affiliation {
        color: $foreground-dark-alt;
    }
}
  
@media (prefers-color-scheme: light) {
    body > div {
    background: $background-light;
    color     : $foreground-light;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $foreground-light-emph;
    }

    blockquote {
        background       : $background-light;
        box-shadow: 0.5rem 0.5rem 0 $background-light-alt2;

        footer {
            color: $foreground-light-alt;
        }
    }

    .ocean,
    body > div.ocean {
        h2,
	    .lecture > h3 {
            color: $ocean-light;
        }
        #registration-attendee-type-tab>li.selected {
            border-top-color: $ocean-light;
        }	   
    }

    .mountain,
    body > div.mountain {
        h2,
	    .lecture > h3 {
            color: $mountain-light;
        }
        #registration-attendee-type-tab>li.selected {
            border-top-color: $mountain-light;
        }	   
    }

    body div.alt {
        background: $background-light-alt;
    }

    body div.alt2 {
        background: $background-light-alt2;
    }


    #previous-guest-lectures .guest-lecture-year {
        color        : $foreground-light-alt;
    }

    #ocean-mountain-intro {
        #ocean-intro {
            border-top-color: $ocean-light;
        }
    
        #mountain-intro {
            border-top-color: $mountain-light;
        }
    }


    #registration-attendee-type-tab>li.selected {
        background      : $background-light-alt;
    }

    #registration-attendee-type-page {
        background: $background-light-alt;
    }

    .lecture {
        box-shadow: 0.5rem 0.5rem 0 $background-light-alt2;
        background       : $background-light-alt;
    }

    #course-timeline {
        // foreground
        $timeline-color       : $foreground-light-alt;
        // background
        $background           : $background-light-alt;
        $background2          : $background-light-alt2;

        li {
            
            &.timeline-event-past {
                $past-event-color: $background-light;
                color             : #BBB;

                .timeline-event-date-container {
                    border-right-color: $past-event-color;

                    &:after {
                        border-color: $past-event-color;
                    }
                }

                .timeline-event-content-container {
                    .timeline-event-content {
                        background-color: $past-event-color;
                    }

                    &:before {
                        border-color: transparent $past-event-color transparent transparent;
                    }
                }
            }
            &.timeline-event-next {
                $next-event-color: $ocean-light;
                .timeline-event-date-container {
                    border-right-color: $next-event-color;
                    color             : $next-event-color;

                    &:after {
                        border-color: $next-event-color;
                    }
                }

                .timeline-event-content-container {
                    .timeline-event-content {
                        background-color: $next-event-color;
                        color           : $background2;
                    }

                    &:before {
                        border-color: transparent $next-event-color transparent transparent;
                    }
                }
            }


            .timeline-event-date-container {
                // border
                border-right-color: $timeline-color;

                &:after {
                    border-color: $timeline-color;
                    background  : $background;
                }
            }

            .timeline-event-content-container {
                .timeline-event-content {
                    background: $background2;
                }

                &:before {
                    border-color: transparent $background2 transparent transparent;
                }
            }
        }
    }

    #course > #course-left-column {
        background: $background-light;
    }

    #course > #course-lectures .affiliation {
        color: $foreground-light-alt;
    }
}

body>div>section {
    max-width: $width;
    margin   : 0 auto;
    padding  : $margin $padding;
}

h2 {
    margin: $margin/2 0 $margin 0;
}

h3 {
    margin   : $margin 0;
    font-size: 150%;
}

h4 {
    margin: $margin 0 $margin/2;
    font-size: 120%;
}

.two-column {
    display              : grid;
    grid-template-columns: 1fr $width/2 $width/2 1fr;

    > :first-child {
        grid-column: 2 / 3;
        width      : calc(#{$width}/2);
        padding    : $margin $margin $margin $padding;
    }

    > :last-child {
        grid-column: 3 / 4;
        width      : calc(#{$width}/2);
        padding    : $margin $padding $margin $margin;
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        display: block;

        > :first-child,
        > :last-child {
            padding: $margin $padding;
            width  : auto;
        }

    }
}

#landing {

    // dimension 
    padding: 0;
    height : calc(100vh - #{$nav-height});
	max-height: 70vw;

    // background 
    background-color: $ocean-light;
    background-image: url("https://user-images.githubusercontent.com/4060046/86566850-f38b0880-bf9c-11ea-9c77-c802927d3dbc.jpg");

    background-size      : cover;
    background-position-y: 5%;
    background-repeat    : no-repeat;

    // layout 
    display        : flex;
    justify-content: center;
    align-items    : center;

    // text color & alignment
    color      : $foreground-dark-emph;
    text-shadow: 0px 0px 5px black;
    text-align : center;

	header {
		margin-top: 10vh;
		max-width: min(75vw, 1000px);
	}

    h1 {
        font-size: 400%;
    }

    span {
        font-size: 150%;
    }

	img {
		display: none;
	}

	@media (max-width: $breakpoint) {
		h1 {
			font-size: 250%;
		}

		span {
			font-size: 100%;
		}
	}

	@media (max-width: $breakpoint2) {
		h1 {
			font-size: 100%;
		}
		span {
			display: none;
		}
		img {
			display: block;
			filter: drop-shadow(0px 0px 2px black);
		}
	}

}

#previous-guest-lectures {
    ol {
        list-style  : none;
        padding     : 0;
        margin      : 0;
        column-count: 2;
        column-gap  : 2rem;

        li {
            line-height: 2rem;
            padding    : 1rem;

            display: flex;

            .guest-lecture-year {
                display      : inline-block;
                padding-right: $padding;
                font-weight  : bold;
            }
        }
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        ol {
            column-count: 1;
        }
    }
}

#ocean-mountain-intro {

    h2 {
        text-align: center;
    }

    #ocean-intro {
        border-top-width: 1rem;
        border-top-style: solid;
    }

    #mountain-intro {
        border-top-width: 1rem;
        border-top-style: solid;
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        h2 {
            text-align: left;
        }
    }
}

#faq {
    section {
        display       : flex;
	    flex-wrap     : wrap;
        flex-direction: row;
        align-items   : flex-start;
    }

    h2 {
        flex-basis: 100%;
    }

    div {
        flex-basis: 70%;
        flex-grow: 1;
        margin: 1rem 1rem 0 0;

        h3 {
        	margin: 0.5rem auto;
            text-align: left;
        }
    }

    img {
        display: block;

        width    : 80%;
        margin   : 1rem auto;
        max-width: 200px;

        flex-basis: 30%;
        flex-grow: 1;
    }
}

#feedbacks {
    >section>div {
        columns: 2;
        column-gap: $margin;
    }

    blockquote {
        break-inside     : avoid;
        padding          : $margin $margin $margin/2 $margin;
        margin-bottom: $margin;

        p {
            font-style: italic;
            font-size : 120%;
        }

        footer {
            text-align: right;
        }
    }

    // make the tab text smaller on mobile 
    @media (max-width: $breakpoint) {

        >section>div {
            columns: unset;
        }
    }

}

#header.ocean {
    background-color: $ocean-light;
    background-image: url("https://user-images.githubusercontent.com/4060046/86566850-f38b0880-bf9c-11ea-9c77-c802927d3dbc.jpg");
}

#header.mountain {
    background-color: $mountain-light;
    background-image: url("https://user-images.githubusercontent.com/8312228/157644132-c64a4437-b7ac-4d83-92f5-e01e78b77c36.png");
}

#header {
    // dimentions
    height          : 200px;
    padding         : $padding;

    background-size    : cover;
    background-position: center 20%;
    background-repeat  : no-repeat;
    // layout 
    display            : flex;
    justify-content    : center;
    align-items        : center;

    // text color & alignment
    color      : $foreground-dark-emph;
    text-shadow: 0px 0px 5px black;
    text-align : center;

    h1 {
        max-width: 600px;
        font-size: 200%;
    }

	img {
		display: none;
	}
    @media (max-width: $breakpoint) {
		h1 {
			font-size: 150%;
		}
	}
	@media (max-width: $breakpoint2) {
		h1 {
			display: none;
		}
		h1 + img {
			display: block;
			height: 3rem;
			margin: auto;
			filter: drop-shadow(0px 0px 1px black);
		}
		h1 + img + span {
			display: none;
		}
		h1 + img + span + br {
			display: none;
		}
	}
}

#course-lectures {

    .lecture {
        h3 {
            position: relative;

            // for offsetting the <nav> height
            // https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
            span { 
                position:absolute; top: calc(-#{$nav-height} - #{2rem}) 
            }
        }
        
        
        h3, h4 {
            margin-top: 0;
        }

        .lecture-content {
            display: flex;

            div {
                flex: 1
            }

            dl {
                display              : grid;
				grid-template-columns: 1fr 2fr;

                dt {
                    grid-column : 1;
					margin-right: 5px;
                }

                dd {
                    grid-column: 2;
                }
            }
        }

        margin: 2rem 0;
        padding: 2rem;


        // make the tab text smaller on mobile 
        @media (max-width: $breakpoint2) {

            .lecture-content {
                display: block;
            }
        }


    }

    td {
        width: 30%;
    }

    th {
        width         : 35%;
        vertical-align: baseline;
    }

    tr.border-at-top>* {
        border-top : $padding solid transparent;
        margin-top : $padding;
        padding-top: $padding;
    }

    dl {
        $dt-width: 10rem;

        display              : grid;
        grid-template-columns: $dt-width auto;

        dt {
            grid-column: 1 / 2;
        }

        dd {
            grid-column: 2 / 3;
        }
    }
}


#course-timeline {
    $timeline-width : 0.5rem;
    $diameter       : 2rem;

    padding : $margin;

    ol {
        list-style: none;
        padding   : 0;
        margin    : 0;
    }

    li {
        display    : flex;
        line-height: $diameter;

        .timeline-event-date-container {
            // layout
            display        : flex;
            justify-content: flex-end;

            // dimensions
            min-width: 7rem;
            padding  : $padding*2 $padding $padding 0;

            // border
            border-right-width: $timeline-width;
            border-right-style: solid;

            // text
            text-align : right;
            font-weight: bold;

            &:after {
                content      : "\A";
                position     : relative;
                left         : calc(#{$padding} + #{$diameter / 2} + #{$timeline-width / 2});
                display      : inline-block;
                width        : $diameter;
                height       : $diameter;
                border-width : 0.4rem;
                border-style : solid;
                border-radius: 50%;
            }
        }

        .timeline-event-content-container {
            padding: $padding $padding $padding $padding*2;

            display: flex;

            .timeline-event-content {
                padding: $padding;

                border-radius: $border-radius;

                h4 {
                    margin     : 0;
                    line-height: $diameter;
                }

            }

            &:before {
                content     : "\A";
                width       : 0;
                height      : 0;
                border-style: solid;
                border-width: $diameter/2 $diameter/2 $diameter/2 0;
                border-style: solid;
                position    : relative;
                top         : $padding;
            }


        }

    }


    // make the tab text smaller on mobile 
    @media (max-width: $breakpoint2) {
        padding : $padding
    }
}

#timetable {
	section {
		overflow: auto;
	}

    table {
        min-width    : 600px;
        margin-bottom: $margin;
    }

    thead {
        border-bottom: 1px solid $foreground-dark-alt;
    }

    tbody {
        th {
            width       : 10%;
            border-right: 1px solid $foreground-dark-alt;
        }

        td {
            width: 18%;
        }
    }

    th {
        color     : $foreground-dark-alt;
        text-align: center;

        height: 4rem;
        margin: $padding;
    }

    td {
        text-align: center;
        vertical-align: top;

        height: 8rem;
        padding-top: $padding * 2;

        font-size: 100%;

        vertical-align: top;

        abbr {
            text-decoration: none !important;
        }

        &.plt a {
            color: #16a085 !important;

        }

        &.fp a {
            color: #48a6e6 !important;
        }

        &.lgc a {
            color: #ff8c80 !important;
        }

        &.dtp a {
            color: #eeac41 !important;
        }

		&.eff a {
            color: #cf63f3 !important;
		}

        // injecting a line break after <a />s
        a::after {
            content: "\A";
            white-space: pre;
          }

    }
    // for mobile 
    @media (max-width: $breakpoint2) {
       small {
           display: none;
       }
    }
}

#registration-attendee-type-tab {
    $tab-height  : 3rem;
    $border-width: 0.4rem;

    list-style: none;
    margin    : $margin 0 0 0;
    padding   : 0;

    display: flex;


    >li {
        width: 25%;

        // make <a> a block that fills the whole <li>
        a {
            display    : block;
            padding    : $padding;
            text-align : center;
            font-weight: bold;
            min-height : $tab-height;

            &:hover {
                text-decoration: none;
            }

            &.abbr {
                display: none;
            }
        }

        border-top: solid $border-width transparent;

        // make the tab text smaller on mobile 
        @media (max-width: $breakpoint2) {

            a {
                &.full {
                    display: none;
                }

                &.abbr {
                    display: block;
                }
            }
        }


    }
}

#registration-attendee-type-page {
    list-style: none;
    margin    : 0;
    padding   : 0;

    >li {
        display: none;
        padding: $margin;

        &.selected {
            display      : block;
            // border-top: solid 0.4rem $ocean-dark;
        }
    }

    // for mobile 
    @media (max-width: $breakpoint) {
        >li {
            padding: $margin $padding;
        }
    }
}
