blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

footer dl {
  display: grid;
  grid-template-columns: max-content auto;
}
footer dt {
  grid-column-start: 1;
  padding-right: .5em
}

footer dd {
  grid-column-start: 2;
  border-left: 2px solid #FFF;
  padding-left: .5em
}

.light-border-bottom {
  border-bottom: 3.5px solid #FFF;
}

.dark-border-bottom {
  border-bottom: 3.5px solid #000;
}

.bg-gd {
  background: linear-gradient(to bottom, #98d2d7 31%, #77bac0 48%, #4b8b97 72%, #3e7987 84%, #286a7c 100%);
}
