blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

footer dl {
  padding: 0.5em;
}
footer dt {
  float: left;
  text-align: right;
  font-weight: normal;
  padding: .25em;
  clear: left;
}

footer dt::after {
  content: " | ";
  padding: .25em;
}
footer dd {
  float: left;
  padding: .25em;
  font-weight: normal;
}