blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

footer dl {
  display: grid;
  grid-template-columns: max-content auto;
}
footer dt {
  grid-column-start: 1;
  padding-right: .5em
}

footer dd {
  grid-column-start: 2;
  border-left: 1.5px solid #FFF;
  padding-left: .5em
}

.light-border-bottom {
  border-bottom: 3px solid #FFF;
}

.dark-border-bottom {
  border-bottom: 3px solid #000;
}