nav {
  height: 5rem;
}

.dark {
  background: #222;
  color: #CCC;
}
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}
.dark .ocean h2, .dark.ocean h2 {
  color: #61C1BE;
}
.dark .mountain h2, .dark.mountain h2 {
  color: #FABE00;
}
.dark.alt {
  background: #111;
}
.dark.alt2 {
  background: #000;
}

.light {
  background: #EEE;
  color: #222;
}
.light h2,
.light h3 {
  color: black;
}
.light .ocean {
  color: #47b8b4;
}
.light .mountain {
  color: #dba800;
}
.light:nth-of-type(2n) {
  background: white;
}

body > div > section {
  max-width: 992px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

h2 {
  margin: 1.5rem 0 3rem 0;
}

h3 {
  margin: 3rem 0;
  font-size: 150%;
}

h4 {
  margin: 3rem 0 1.5rem;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 496px 496px 1fr;
}
.two-column > :first-child {
  grid-column: 2/3;
  width: calc(992px/2);
  padding: 3rem 3rem 3rem 1rem;
}
.two-column > :last-child {
  grid-column: 3/4;
  width: calc(992px/2);
  padding: 3rem 1rem 3rem 3rem;
}
@media (max-width: 992px) {
  .two-column {
    display: block;
  }
  .two-column > :first-child,
.two-column > :last-child {
    padding: 3rem 1rem;
    width: auto;
  }
}

#landing {
  padding: 0;
  height: calc(100vh - 5rem);
  background-image: url("/img/main.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}
#landing h1 {
  font-size: 400%;
}
#landing span {
  font-size: 150%;
}

#previous-guest-lectures ol {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 2rem;
}
#previous-guest-lectures ol li {
  line-height: 2rem;
  padding: 1rem;
  display: flex;
}
#previous-guest-lectures ol li .guest-lecture-year {
  display: inline-block;
  padding-right: 1rem;
  color: gray;
  font-weight: bold;
}
@media (max-width: 992px) {
  #previous-guest-lectures ol {
    column-count: 1;
  }
}

#ocean-mountain-intro h2 {
  text-align: center;
}
#ocean-mountain-intro #ocean-intro {
  border-top: #61C1BE 1rem solid;
}
#ocean-mountain-intro #mountain-intro {
  border-top: #FABE00 1rem solid;
}
@media (max-width: 992px) {
  #ocean-mountain-intro h2 {
    text-align: left;
  }
}

#header {
  height: 200px;
  padding: 1rem;
  background-image: url("/img/main.png");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}
#header h1 {
  font-size: 200%;
}

#course {
  display: grid;
  grid-template-columns: 1fr calc(992px - 350px) 350px 1fr;
  grid-template-rows: auto;
}
#course #course-timeline {
  grid-column: 3/5;
  grid-row: 1/2;
}
#course #course-left-column {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #222;
}
#course #course-intro,
#course #course-special-lecture,
#course #course-lecturer {
  display: grid;
  grid-template-columns: auto calc(calc(992px - 350px));
}
#course #course-intro > section,
#course #course-special-lecture > section,
#course #course-lecturer > section {
  grid-column: 2/3;
  margin: 0;
  padding: 3rem 3rem 3rem 1rem;
}
#course #course-lecturer td {
  width: 30%;
}
#course #course-lecturer th {
  width: 35%;
  vertical-align: baseline;
}
#course #course-lecturer .affiliation {
  color: gray;
}
#course #course-lecturer tr.border-at-top > * {
  border-top: 1rem solid transparent;
  margin-top: 1rem;
  padding-top: 1rem;
}
@media (max-width: 992px) {
  #course {
    display: block;
  }
  #course #course-timeline {
    padding: 3rem 1rem;
  }
  #course #course-timeline li {
    padding: 1rem 0;
  }
  #course #course-timeline .timeline-event-date-container {
    width: 30%;
    border: none;
    margin: 0;
    padding: 0 1rem;
    display: block;
  }
  #course #course-timeline .timeline-event-date-container .timeline-event-date {
    text-align: left;
  }
  #course #course-timeline .timeline-event-date-container:after {
    display: none;
  }
  #course #course-timeline .timeline-event-content-container {
    width: 70%;
    margin: 0;
    padding: 0 1rem;
  }
  #course #course-timeline .timeline-event-content-container .timeline-event-content {
    background: none;
    margin: 0;
    padding: 0;
  }
  #course #course-timeline .timeline-event-content-container:before {
    display: none;
  }
  #course #course-intro,
#course #course-special-lecture,
#course #course-lecturer {
    display: block;
  }
  #course #course-intro > section,
#course #course-special-lecture > section,
#course #course-lecturer > section {
    padding: 3rem 1rem;
  }
}

#course-lecturer dl {
  display: grid;
  grid-template-columns: 10rem auto;
}
#course-lecturer dl dt {
  grid-column: 1/2;
}
#course-lecturer dl dd {
  grid-column: 2/3;
}

#course-timeline {
  background: #000;
  padding: 3rem 3rem;
}
#course-timeline ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#course-timeline li {
  display: flex;
  line-height: 2rem;
}
#course-timeline li:first-of-type {
  color: white;
}
#course-timeline li:first-of-type .timeline-event-date-container {
  border-right-color: white;
  color: white;
}
#course-timeline li:first-of-type .timeline-event-date-container:after {
  border-color: white;
}
#course-timeline li .timeline-event-date-container {
  display: flex;
  justify-content: flex-end;
  min-width: 7rem;
  padding: 2rem 1rem 1rem 0;
  border-right: gray 0.5rem solid;
  text-align: right;
  color: #CCC;
  font-weight: bold;
}
#course-timeline li .timeline-event-date-container:after {
  content: "\a";
  position: relative;
  left: calc(1rem + 1rem + 0.25rem);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.4rem solid gray;
  border-radius: 50%;
  background: #000;
}
#course-timeline li .timeline-event-content-container {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
}
#course-timeline li .timeline-event-content-container .timeline-event-content {
  background-color: #222;
  padding: 1rem;
  border-radius: 0.5rem;
}
#course-timeline li .timeline-event-content-container .timeline-event-content h4 {
  margin: 0;
  line-height: 2rem;
}
#course-timeline li .timeline-event-content-container:before {
  content: "\a";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 1rem 1rem 0;
  border-color: transparent #222 transparent transparent;
  border-style: solid;
  position: relative;
  top: 1rem;
}

#timetable table {
  width: 100%;
  margin-bottom: 3rem;
}
#timetable thead {
  border-bottom: 1px solid gray;
}
#timetable tbody th {
  width: 10%;
  border-right: 1px solid gray;
}
#timetable tbody td {
  width: 18%;
}
#timetable .plt {
  color: #16a085;
}
#timetable .fp {
  color: #48a6e6;
}
#timetable .lgc {
  color: #ff8c80;
}
#timetable .dtp {
  color: #eeac41;
}
#timetable th {
  color: gray;
  text-align: center;
  height: 4rem;
  margin: 1rem;
}
#timetable td {
  text-align: center;
  height: 8rem;
  margin: 1rem;
  font-size: 120%;
}
#timetable td abbr {
  text-decoration: none !important;
}

#registration-attendee-type-tab {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;
  display: flex;
}
#registration-attendee-type-tab > li {
  width: 25%;
  border-top: solid 0.4rem #222;
}
#registration-attendee-type-tab > li a {
  display: block;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  min-height: 3rem;
}
#registration-attendee-type-tab > li a:hover {
  text-decoration: none;
}
@media (max-width: 992px) {
  #registration-attendee-type-tab > li a {
    font-size: 50%;
  }
}
#registration-attendee-type-tab > li.selected {
  background: #111;
  border-top-color: #61C1BE;
}

#registration-attendee-type-page {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #111;
}
#registration-attendee-type-page > li {
  display: none;
  padding: 3rem;
}
#registration-attendee-type-page > li.selected {
  display: block;
}
@media (max-width: 992px) {
  #registration-attendee-type-page > li {
    padding: 3rem 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
