nav {
  height: 5rem;
}

@media (prefers-color-scheme: dark) {
  body > div {
    background: #222;
    color: #CCC;
  }

  h2,
h3,
h4,
h5,
h6 {
    color: white;
  }

  blockquote {
    background: #222;
    box-shadow: 0.5rem 0.5rem 0 #000;
  }
  blockquote footer {
    color: gray;
  }

  .ocean h2,
body > div.ocean h2 {
    color: #61C1BE;
  }

  .mountain h2,
body > div.mountain h2 {
    color: #FABE00;
  }

  body div.alt {
    background: #111;
  }

  body div.alt2 {
    background: #000;
  }

  #registration-attendee-type-tab > li.selected {
    background: #111;
    border-top-color: #61C1BE;
  }

  #ocean-mountain-intro #ocean-intro {
    border-top-color: #61C1BE;
  }
  #ocean-mountain-intro #mountain-intro {
    border-top-color: #FABE00;
  }

  #registration-attendee-type-page {
    background: #111;
  }

  #course-timeline {
    background: #000;
  }
  #course-timeline li.timeline-event-past {
    color: #444;
  }
  #course-timeline li.timeline-event-past .timeline-event-date-container {
    border-right-color: #111;
  }
  #course-timeline li.timeline-event-past .timeline-event-date-container:after {
    border-color: #111;
  }
  #course-timeline li.timeline-event-past .timeline-event-content-container .timeline-event-content {
    background-color: #111;
  }
  #course-timeline li.timeline-event-past .timeline-event-content-container:before {
    border-color: transparent #111 transparent transparent;
  }
  #course-timeline li.timeline-event-next .timeline-event-date-container {
    border-right-color: #61C1BE;
    color: #61C1BE;
  }
  #course-timeline li.timeline-event-next .timeline-event-date-container:after {
    border-color: #61C1BE;
  }
  #course-timeline li.timeline-event-next .timeline-event-content-container .timeline-event-content {
    background-color: #61C1BE;
    color: #222;
  }
  #course-timeline li.timeline-event-next .timeline-event-content-container:before {
    border-color: transparent #61C1BE transparent transparent;
  }
  #course-timeline li .timeline-event-date-container {
    border-right-color: gray;
  }
  #course-timeline li .timeline-event-date-container:after {
    border-color: gray;
    background: #000;
  }
  #course-timeline li .timeline-event-content-container .timeline-event-content {
    background-color: #222;
  }
  #course-timeline li .timeline-event-content-container:before {
    border-color: transparent #222 transparent transparent;
  }

  #course > #course-left-column {
    background: #222;
  }

  #course > #course-lectures .affiliation {
    color: gray;
  }
}
@media (prefers-color-scheme: light) {
  body > div {
    background: #F0F0F0;
    color: #222;
  }

  h2,
h3,
h4,
h5,
h6 {
    color: black;
  }

  blockquote {
    background: #F0F0F0;
    box-shadow: 0.5rem 0.5rem 0 #E8E8E8;
  }
  blockquote footer {
    color: gray;
  }

  .ocean h2,
body > div.ocean h2 {
    color: #47b8b4;
  }

  .mountain h2,
body > div.mountain h2 {
    color: #dba800;
  }

  body > div.alt {
    background: #F8F8F8;
  }

  body > div.alt2 {
    background: #E8E8E8;
  }

  #previous-guest-lectures .guest-lecture-year {
    color: gray;
  }

  #ocean-mountain-intro #ocean-intro {
    border-top-color: #47b8b4;
  }
  #ocean-mountain-intro #mountain-intro {
    border-top-color: #dba800;
  }

  #registration-attendee-type-tab > li.selected {
    background: #F8F8F8;
    border-top-color: #47b8b4;
  }

  #registration-attendee-type-page {
    background: #F8F8F8;
  }

  #course-timeline {
    background: #E8E8E8;
  }
  #course-timeline li.timeline-event-past {
    color: #BBB;
  }
  #course-timeline li.timeline-event-past .timeline-event-date-container {
    border-right-color: #DDD;
  }
  #course-timeline li.timeline-event-past .timeline-event-date-container:after {
    border-color: #DDD;
  }
  #course-timeline li.timeline-event-past .timeline-event-content-container .timeline-event-content {
    background-color: #DDD;
  }
  #course-timeline li.timeline-event-past .timeline-event-content-container:before {
    border-color: transparent #DDD transparent transparent;
  }
  #course-timeline li.timeline-event-next .timeline-event-date-container {
    border-right-color: #47b8b4;
    color: #47b8b4;
  }
  #course-timeline li.timeline-event-next .timeline-event-date-container:after {
    border-color: #47b8b4;
  }
  #course-timeline li.timeline-event-next .timeline-event-content-container .timeline-event-content {
    background-color: #47b8b4;
    color: white;
  }
  #course-timeline li.timeline-event-next .timeline-event-content-container:before {
    border-color: transparent #47b8b4 transparent transparent;
  }
  #course-timeline li .timeline-event-date-container {
    border-right-color: gray;
  }
  #course-timeline li .timeline-event-date-container:after {
    border-color: gray;
    background: #E8E8E8;
  }
  #course-timeline li .timeline-event-content-container .timeline-event-content {
    background: white;
  }
  #course-timeline li .timeline-event-content-container:before {
    border-color: transparent white transparent transparent;
  }

  #course > #course-left-column {
    background: #F0F0F0;
  }

  #course > #course-lectures .affiliation {
    color: gray;
  }
}
body > div > section {
  max-width: 992px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

h2 {
  margin: 1.5rem 0 3rem 0;
}

h3 {
  margin: 3rem 0;
  font-size: 150%;
}

h4 {
  margin: 3rem 0 1.5rem;
  font-size: 120%;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 496px 496px 1fr;
}
.two-column > :first-child {
  grid-column: 2/3;
  width: calc(992px/2);
  padding: 3rem 3rem 3rem 1rem;
}
.two-column > :last-child {
  grid-column: 3/4;
  width: calc(992px/2);
  padding: 3rem 1rem 3rem 3rem;
}
@media (max-width: 992px) {
  .two-column {
    display: block;
  }
  .two-column > :first-child,
.two-column > :last-child {
    padding: 3rem 1rem;
    width: auto;
  }
}

#landing {
  padding: 0;
  height: calc(100vh - 5rem);
  background-color: #47b8b4;
  background-image: url("https://user-images.githubusercontent.com/4060046/86566850-f38b0880-bf9c-11ea-9c77-c802927d3dbc.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}
#landing h1 {
  font-size: 400%;
}
#landing span {
  font-size: 150%;
}

#previous-guest-lectures ol {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 2rem;
}
#previous-guest-lectures ol li {
  line-height: 2rem;
  padding: 1rem;
  display: flex;
}
#previous-guest-lectures ol li .guest-lecture-year {
  display: inline-block;
  padding-right: 1rem;
  font-weight: bold;
}
@media (max-width: 992px) {
  #previous-guest-lectures ol {
    column-count: 1;
  }
}

#ocean-mountain-intro h2 {
  text-align: center;
}
#ocean-mountain-intro #ocean-intro {
  border-top-width: 1rem;
  border-top-style: solid;
}
#ocean-mountain-intro #mountain-intro {
  border-top-width: 1rem;
  border-top-style: solid;
}
@media (max-width: 992px) {
  #ocean-mountain-intro h2 {
    text-align: left;
  }
}

#stats img {
  display: block;
  width: 80%;
  margin: 3rem auto;
  max-width: 300px;
}
#stats h3 {
  text-align: center;
}

#feedbacks > section > div {
  columns: 2;
  column-gap: 3rem;
}
#feedbacks blockquote {
  break-inside: avoid;
  padding: 3rem 3rem 1.5rem 3rem;
  margin-bottom: 3rem;
}
#feedbacks blockquote p {
  font-style: italic;
  font-size: 120%;
}
#feedbacks blockquote footer {
  text-align: right;
}
@media (max-width: 992px) {
  #feedbacks > section > div {
    columns: unset;
  }
}

#header {
  height: 200px;
  padding: 1rem;
  background-color: #47b8b4;
  background-image: url("https://user-images.githubusercontent.com/4060046/86566850-f38b0880-bf9c-11ea-9c77-c802927d3dbc.jpg");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}
#header h1 {
  font-size: 200%;
}

#course {
  display: grid;
  grid-template-columns: 1fr calc(992px - 350px) 350px 1fr;
  grid-template-rows: auto;
}
#course #course-timeline {
  grid-column: 3/5;
  grid-row: 1/2;
}
#course #course-left-column {
  grid-column: 1/3;
  grid-row: 1/2;
}
#course #course-intro,
#course #course-special-lecture,
#course #course-lectures {
  display: grid;
  grid-template-columns: auto calc(calc(992px - 350px));
}
#course #course-intro > section,
#course #course-special-lecture > section,
#course #course-lectures > section {
  grid-column: 2/3;
  margin: 0;
  padding: 3rem 3rem 3rem 1rem;
}
@media (max-width: 992px) {
  #course {
    display: block;
  }
  #course #course-timeline {
    padding: 3rem 1rem;
  }
  #course #course-timeline li {
    padding: 1rem 0;
  }
  #course #course-timeline .timeline-event-date-container {
    width: 30%;
    border: none;
    margin: 0;
    padding: 0 1rem;
    display: block;
  }
  #course #course-timeline .timeline-event-date-container .timeline-event-date {
    text-align: left;
  }
  #course #course-timeline .timeline-event-date-container:after {
    display: none;
  }
  #course #course-timeline .timeline-event-content-container {
    width: 70%;
    margin: 0;
    padding: 0 1rem;
  }
  #course #course-timeline .timeline-event-content-container .timeline-event-content {
    background: none;
    margin: 0;
    padding: 0;
  }
  #course #course-timeline .timeline-event-content-container:before {
    display: none;
  }
  #course #course-intro,
#course #course-special-lecture,
#course #course-lectures {
    display: block;
  }
  #course #course-intro > section,
#course #course-special-lecture > section,
#course #course-lectures > section {
    padding: 3rem 1rem;
  }
}

#course-lectures .lecture {
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 0 #000;
  background: #111;
}
#course-lectures .lecture h3 {
  color: #61C1BE;
  position: relative;
}
#course-lectures .lecture h3 span {
  position: absolute;
  top: calc(-5rem - 2rem);
}
#course-lectures .lecture h3, #course-lectures .lecture h4 {
  margin-top: 0;
}
#course-lectures .lecture .lecture-content {
  display: flex;
}
#course-lectures .lecture .lecture-content div {
  flex: 1;
}
#course-lectures td {
  width: 30%;
}
#course-lectures th {
  width: 35%;
  vertical-align: baseline;
}
#course-lectures tr.border-at-top > * {
  border-top: 1rem solid transparent;
  margin-top: 1rem;
  padding-top: 1rem;
}
#course-lectures dl {
  display: grid;
  grid-template-columns: 10rem auto;
}
#course-lectures dl dt {
  grid-column: 1/2;
}
#course-lectures dl dd {
  grid-column: 2/3;
}

#course-timeline {
  padding: 3rem 3rem;
}
#course-timeline ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#course-timeline li {
  display: flex;
  line-height: 2rem;
}
#course-timeline li .timeline-event-date-container {
  display: flex;
  justify-content: flex-end;
  min-width: 7rem;
  padding: 2rem 1rem 1rem 0;
  border-right-width: 0.5rem;
  border-right-style: solid;
  text-align: right;
  font-weight: bold;
}
#course-timeline li .timeline-event-date-container:after {
  content: "\a";
  position: relative;
  left: calc(1rem + 1rem + 0.25rem);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-width: 0.4rem;
  border-style: solid;
  border-radius: 50%;
}
#course-timeline li .timeline-event-content-container {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
}
#course-timeline li .timeline-event-content-container .timeline-event-content {
  padding: 1rem;
  border-radius: 0.5rem;
}
#course-timeline li .timeline-event-content-container .timeline-event-content h4 {
  margin: 0;
  line-height: 2rem;
}
#course-timeline li .timeline-event-content-container:before {
  content: "\a";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 1rem 1rem 0;
  border-style: solid;
  position: relative;
  top: 1rem;
}

#timetable table {
  width: 100%;
  margin-bottom: 3rem;
}
#timetable thead {
  border-bottom: 1px solid gray;
}
#timetable tbody th {
  width: 10%;
  border-right: 1px solid gray;
}
#timetable tbody td {
  width: 18%;
}
#timetable th {
  color: gray;
  text-align: center;
  height: 4rem;
  margin: 1rem;
}
#timetable td {
  text-align: center;
  vertical-align: top;
  height: 8rem;
  padding-top: 2rem;
  font-size: 100%;
  vertical-align: top;
}
#timetable td abbr {
  text-decoration: none !important;
}
#timetable td.plt a {
  color: #16a085 !important;
}
#timetable td.fp a {
  color: #48a6e6 !important;
}
#timetable td.lgc a {
  color: #ff8c80 !important;
}
#timetable td.dtp a {
  color: #eeac41 !important;
}
#timetable td a::after {
  content: "\a";
  white-space: pre;
}

#registration-attendee-type-tab {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;
  display: flex;
}
#registration-attendee-type-tab > li {
  width: 25%;
  border-top: solid 0.4rem transparent;
}
#registration-attendee-type-tab > li a {
  display: block;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  min-height: 3rem;
}
#registration-attendee-type-tab > li a:hover {
  text-decoration: none;
}
#registration-attendee-type-tab > li a.abbr {
  display: none;
}
@media (max-width: 576px) {
  #registration-attendee-type-tab > li a.full {
    display: none;
  }
  #registration-attendee-type-tab > li a.abbr {
    display: block;
  }
}

#registration-attendee-type-page {
  list-style: none;
  margin: 0;
  padding: 0;
}
#registration-attendee-type-page > li {
  display: none;
  padding: 3rem;
}
#registration-attendee-type-page > li.selected {
  display: block;
}
@media (max-width: 992px) {
  #registration-attendee-type-page > li {
    padding: 3rem 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
