/* Error: Undefined variable.
 *    ,
 * 12 | $ocean-dark    : $fountain-blue;
 *    |                  ^^^^^^^^^^^^^^
 *    '
 *   assets/scss/style.scss 12:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 12 \2502  $ocean-dark    : $fountain-blue;\a    \2502                   ^^^^^^^^^^^^^^\a    \2575 \a   assets/scss/style.scss 12:18  root stylesheet";
}
