$if(fancy-banner)$
<header class="container-fluid bg-light">
  <div class="row">
    <div class="col">
      <h1 class="text-center text-dark">$LC.title$<br>
      <small class="text-muted">$LC.subtitle$</small>
    </h1>
    </div>
  </div>
</header>
$endif$
$if(plain-banner)$
<header class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center">$LC.title$<br>
      <small class="text-muted">$LC.subtitle$</small>
    </h1>
    </div>
  </div>
</header>
$endif$
<div class="container-md">
  $body$
</div>