$if(fancy-banner)$
<header class="container-fluid bg-light">
  <div class="row">
    <div class="col">
      <h1 class="text-center text-dark">$LC.title$<br>
      <small class="text-muted">$LC.subtitle$</small>
    </h1>
    </div>
  </div>
</header>
$-endif$
$-if(plain-banner)$
<header class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center">$LC.title$<br>
      <small class="text-muted">$LC.subtitle$</small>
    </h1>
    </div>
  </div>
</header>
$-endif$
$-if(image-banner)$
<header class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col bg-gd"></div>
    <div class="col-auto px-0 carousel">
      <div class="caroudel-item">
        <img src="/img/yearly_banner.jpg" class="d-lg-none d-block center-block" style="height: 240px; width: 100%; object-fit: cover">
        <img src="/img/yearly_banner.jpg" class="d-lg-block d-none img-fluid mx-auto" style="max-height: 300px">
        <div class="carousel-caption mr-lg-5 mr-0 text-outline">
          <h3 class="mb-1 d-sm-none d-block">$LC.title$</h3>
          <h1 class="mb-1 d-sm-block d-none">$LC.title$</h3>
          <p class="d-md-block d-none mb-2 font-weight-bold">$LC.subtitle$</p>
          <div class="flex-lg-row flex-column d-flex pt-3 justify-content-center">
            <div class="d-sm-none d-block"><h6 class="m-0">$LC.date$</h6></div>
            <div class="d-sm-none d-block"><h6 class="m-0">$LC.time$</h6></div>
            <div class="d-sm-none d-block"><span class="m-0" style="white-space: nowrap;">$LC.location$</span></div>
            <div class="pr-lg-3 border-right-thick d-sm-block d-none"><h5 class="m-0">$LC.date$</h5></div>
            <div class="px-lg-3 border-right-thick d-sm-block d-none"><h5 class="m-0">$LC.time$</h5></div>
            <div class="pl-lg-3 d-sm-block d-none"><h5 class="m-0">$LC.location$</h5></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col bg-gd2"></div>
  </div>
</header>
$-endif$$body$