<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#nav-general-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/$lang$/index.html">FλOL∀C</a>

  <div class="collapse navbar-collapse" id="nav-general-menu">
    <ul class="navbar-nav mt-2 mt-lg-0 ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Ocean
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/$lang$/ocean.html">Programming Language</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">2020</a>
          <a class="dropdown-item" href="#">2018</a>
          <a class="dropdown-item" href="#">2016</a>
          <a class="dropdown-item" href="#">2014</a>
          <a class="dropdown-item" href="#">2012</a>
          <a class="dropdown-item" href="#">2010</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Mountain
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/$lang$/mountain.html">Formal Verification</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">2019</a>
          <a class="dropdown-item" href="#">2017</a>
          <a class="dropdown-item" href="#">2015</a>
          <a class="dropdown-item" href="#">2013</a>
          <a class="dropdown-item" href="#">2011</a>
          <a class="dropdown-item" href="#">2009</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Current</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#">Registration</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 small">
      <li class="nav-item">
        <a class="nav-link" href=$zh-url$>中文</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container">
  <div class="jumbotron text-center">
    <h2>$title$<br>
    $if(subtitle)$
    <small class="text-muted">$subtitle$</small> 
    $endif$</h2>
  </div>
  $body$
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Registration</h5>
      </div>

      <div class="col-6 col-md">
        <h5>Social media</h5>
        <ul class="list-unstyled text-small list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="https://github.com/flolac-tw/"><i class="fab fa-github"></i></a>
          </li>

          <li class="list-inline-item">
            <a class="text-muted" href="https://www.facebook.com/flolac.tw/"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#"><i class="fab fa-slack"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md" id="contact">
        <h5>Contact us</h5>
        <ul class="list-unstyled text-small list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="#"><i class="fas fa-envelope"></i></a>
          </li>
          <li class="list-inline-item">
             <a class="text-muted" href="https://m.me/326622080745536"><i class="fab fa-facebook-messenger"></i></a>
          </li>
        </ul>
      </div>

    </div>
  </footer> 
</div>
