$body$
<footer>
  <div class="container-fluid bg-dark text-light small">
    <div class="row py-md-3">
      <div class="col-12 col-md-3 pt-3">
          <object type="image/svg+xml" class="float-md-right float-none" data="/img/logo.svg" width="150"/>
      </div>
      <div class="col-12 col-md-9 py-3">
          <dl>
            <dt>主辦單位</dt>
            <dd>
              <ul class="list-inline m-0">
                <li class="list-inline-item">中央研究院資訊科學所</li>
                <li class="list-inline-item">台灣大學資訊管理學系</li>
                <li class="list-inline-item">台灣大學資訊工程學系</li>
                <li class="list-inline-item">台灣大學電機工程學系</li></ul>
            </dd>
            <dt>創辦委員</dt>
            <dd>
              <ul class="list-inline m-0">
                <li class="list-inline-item">陳恭</li>
                <li class="list-inline-item">莊庭瑞</li>
                <li class="list-inline-item">穆信成</li>
                <li class="list-inline-item">蔡益坤</li>
                <li class="list-inline-item">王柏堯</li>
              </ul>
            </dd>
            <dt>連絡信箱</dt>
            <dd>flolac@iis.sinica.edu.tw</dd>
          </dl>
      </div>
    </div>
  </div>
</footer> 
