---
  zh:
    registration: 報名資訊
    contact: 聯絡我們
    social-network: 社群網站
  en:
    registration: Registration
    contact: Contact us
    social-network: Social media
---
$body$
<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>$LC.registration$</h5>
      </div>
      <div class="col-6 col-md">
        <h5>$LC.social-network$</h5>
        <ul class="list-unstyled text-small list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="https://github.com/flolac-tw/"><i class="fab fa-github"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://www.facebook.com/flolac.tw/"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#"><i class="fab fa-slack"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md" id="contact">
        <h5>$LC.contact$</h5>
        <ul class="list-unstyled text-small list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="#"><i class="fas fa-envelope"></i></a>
          </li>
          <li class="list-inline-item">
             <a class="text-muted" href="https://m.me/326622080745536"><i class="fab fa-facebook-messenger"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer> 
</div>
