---
  zh:
    registration: 報名資訊
    contact: 聯絡我們
    social-network: 社群網站
  en:
    registration: Registration
    contact: Contact us
    social-network: Social media
---
$body$
<footer>
  <div class="container-fluid bg-light small py-4 px-4 border">
    <div class="row justify-content-center border">
      <div class="col-sm-3 border">
        <img class="float-right" style="fill:white" src="/img/logo.svg" width="200px">
      </div>
      <div class="col-sm-6 border">
        <dl>
          <dt>主辦單位</dt><dd>中央研究院資訊科學所  台灣大學資訊管理學系  台灣大學資訊工程學系  台灣大學電機工程學系</dd>
          <dt>創辦委員</dt><dd>陳恭 莊庭瑞 穆信成 蔡益坤 王柏堯</dd>
          <dt>連絡信箱</dt><dd>flolac@iis.sinica.edu.tw</dd>
        </dl>
      </div>
    </div>
  </div>
</footer> 
