---
  zh:
    ocean-button: 程式語言
    ocean-intro: 海年介紹
    mountain-button: 正規驗證
    mountain-intro: 山年介紹
    current: 應屆課程
    registration: 報名資訊
    lang-toggle: English
  en:
    ocean-button: Ocean
    ocean-intro: Programming Language
    mountain-button: Mountain
    mountain-intro: Formal Verification
    current: Current
    registration: Registration
    lang-toggle: 中文
---
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#nav-general-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/$lang$/index.html">FλOL∀C</a>
  <div class="collapse navbar-collapse" id="nav-general-menu">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          $LC.ocean-button$
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/$lang$/ocean.html">$LC.ocean-intro$</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/$lang$/2020">2020</a>
          <a class="dropdown-item" href="#">2018</a>
          <a class="dropdown-item" href="#">2016</a>
          <a class="dropdown-item" href="#">2014</a>
          <a class="dropdown-item" href="#">2012</a>
          <a class="dropdown-item" href="#">2010</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          $LC.mountain-button$
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/$lang$/mountain.html">$LC.mountain-intro$</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">2019</a>
          <a class="dropdown-item" href="#">2017</a>
          <a class="dropdown-item" href="#">2015</a>
          <a class="dropdown-item" href="#">2013</a>
          <a class="dropdown-item" href="#">2011</a>
          <a class="dropdown-item" href="#">2009</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/$lang$/2020">$LC.current$</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">$LC.registration$</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="nav-general-menu">
    <div class="navbar-nav ml-md-auto">
      <a class="nav-link nav-item" href="/$lang$/contact.html"><i class="fas fa-envelope"></i></a>
      <a class="nav-link nav-item" href="https://www.facebook.com/flolac.tw/"><i class="fab fa-facebook"></i></a>
      <a class="nav-link nav-item" target="_blank" href="https://m.me/326622080745536"><i class="fab fa-facebook-messenger"></i></a>
      <a class="nav-link nav-item" href="https://github.com/flolac-tw/"><i class="fab fa-github"></i></a>
      <a class="nav-link nav-item" href="#"><i class="fab fa-slack"></i></a>
      <a class="nav-link nav-item" href="$LC-toggle-url$"><small>$LC.lang-toggle$</small></a>
    </div>
  </div>
</nav>
$body$
