---
  zh:
    home: 首頁
    theme-intro: 課程主題
    ocean-intro: 型別原理
    mountain-intro: 自動驗證
    past-activity: 歷年課程
    current: 應屆課程
    registration: 報名資訊
    lang-toggle: En
  en:
    home: Home
    theme-intro: Themes
    ocean-intro: Type-Theoretic Foundations
    mountain-intro: Automated Verification
    past-activity: Past Events
    current: Current Event
    registration: Registration
    lang-toggle: 中

---
<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark-shade justify-content-around py-md-2 py-sm-1 py-0" style="font-weight: 600">
  <!-- TODO: use CSS to control heights in different window widths -->
  <div class="container-md px-md-5 px-0">
    <a class="navbar-brand py-md-2 d-none d-md-block" href="#"><img src="/img/logo.svg" style="height: 2rem"/></a>
    <a class="navbar-brand py-1 d-none d-sm-block d-md-none" href="#"><img src="/img/logo.svg" style="height: 1.5rem"/></a>

    <ul class="navbar-nav text-nowrap">
      <!-- <li class="nav-item"><a class="nav-link" href="/$lang$/">$LC.home$</a></li> -->
      <li class="nav-item"><a class="nav-link" href="/$lang$/$current_year$">$LC.current$</a></li>
      <li class="nav-item"><a class="nav-link" href="/$lang$/$current_year$/registration.html">$LC.registration$</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">$LC.past-activity$</a>
        <div class="dropdown-menu">
          <div class="dropdown-item">$LC.ocean-intro$</div>
          <a class="dropdown-item" href="/$lang$/2022">2022</a>
          <a class="dropdown-item" href="/$lang$/2020">2020</a>
          <a class="dropdown-item" href="/flolac18.html" target="_blank">2018</a>
          <a class="dropdown-item" href="/flolac16.html" target="_blank">2016</a>
          <a class="dropdown-item" href="/flolac14.html" target="_blank">2014</a>
          <a class="dropdown-item" href="/flolac12.html" target="_blank">2012</a>
          <a class="dropdown-item" href="/flolac10.html" target="_blank">2010</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item bg-light">$LC.mountain-intro$</div>
          <a class="dropdown-item" href="/$lang$/2021">2021</a>
          <a class="dropdown-item" href="/flolac19.html" target="_blank">2019</a>
          <a class="dropdown-item" href="/flolac17.html" target="_blank">2017</a>
          <a class="dropdown-item" href="/flolac15.html" target="_blank">2015</a>
          <a class="dropdown-item" href="/flolac11.html" target="_blank">2011</a>
          <a class="dropdown-item" href="/flolac09.html" target="_blank">2009</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/flolac08.html" target="_blank">2008</a>
          <a class="dropdown-item" href="/flolac07.html" target="_blank">2007</a>
        </div>
      </li>
    </ul>

    <span class="navbar-nav d-none d-sm-flex">
      <a class="nav-link" href="javascript:location='mailto:\u0066\u006c\u006f\u006c\u0061\u0063\u0040\u0069\u0069\u0073\u002e\u0073\u0069\u006e\u0069\u0063\u0061\u002e\u0065\u0064\u0075\u002e\u0074\u0077';void 0"><i class="fas fa-envelope"></i></a>
      <a class="nav-link" href="https://github.com/flolac-tw"><i class="fab fa-github"></i></a>
      <a class="nav-link" href="https://www.facebook.com/flolac.tw/"><i class="fab fa-facebook"></i></a>
      <a class="nav-link" target="_blank" href="https://m.me/326622080745536"><i class="fab fa-facebook-messenger"></i></a>
<!--      <a class="nav-link nav-item" href="#"><i class="fab fa-slack"></i></a> -->
      <a class="nav-link" href="$LC-toggle-url$"><small>$LC.lang-toggle$</small></a>
    </span>
  </div>
</nav>
$body$
